<!DOCTYPE html>
<html lang="en">

{% include "_includes/head.liquid" %}

<body>
    
    {{ content }}
    
    <script src="/js/scripts.js?now={{ 'now' | date: "%s" }}"></script>
    <script src="/js/reload.js"></script>
    <script src="/js/bus-bay-pylon.js?now={{ 'now' | date: "%s" }}"></script>
</body>
</html>