<!DOCTYPE html>
<html lang="en">

{% include "_includes/head.liquid" %}

<body>
    <div id="bba-wrapper">
        <div id="bba-header">
            <div>10/22/2024  11:05 AM</div>
        </div>
        <div id="bba-content-container">
            <div id="bba-content">
                {{ content }}
            </div>
        </div>
    </div>
    <scripts src="js/scripts.js"></scripts>
</body>
</html>