<!DOCTYPE html>
<html lang="en">

{% include "_includes/head.liquid" %}

<body>
    <div id="bba-wrapper">
        <div id="bba-header">
            <div>10/22/2024  11:05 AM</div>
        </div>
        <div id="bba-static-content">
            <img src="/images/bba-static-content.png">
        </div>
        <div id="bba-content-container">
            <div id="bba-content">
                {{ content }}
            </div>
        </div>
    </div>
    <script src="/js/scripts.js" defer></script>
    <script src="/js/bus-bay-assignments.js" defer></script>
</body>
</html>