<!DOCTYPE html>
<html lang="en">

{% include "_includes/head.liquid" %}

<body>
    <div id="wrapper" class="full-page-content">
        {{ content }}
    </div>
    <scripts src="js/scripts.js"></scripts>
</body>
</html>