<!DOCTYPE html>
<html lang="en">

{% include "_includes/head.liquid" %}

<body>
    {{ content }}
    <script src="/js/psa-info.js?now={{ 'now' | date: "%s" }}" defer></script>
    <script src="/js/reload.js"></script>
</body>
</html>