#bba-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    width: 1920px;
    background-color: #2B2B2B;
    overflow: hidden;
    color: #fff;
}

#bba-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: middle;
    width: 100%;
    height: 90px;
    background-color: #2B2B2B;
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#bba-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    height: 90px;
    font-size: 60px;
    font-weight: 300;
    transform: translateY(-3px);
}

#bba-static-content {
    width: 100%;
    height: 246px;
}

#bba-static-content img {
    padding-bottom: 10px;
}

#bba-content-container {
    overflow: visible;
    position: relative;
    height: 100%;
}

#bba-content,
#bba-content-clone {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.assignment-row {
    height: 176px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-agency-info {
    width: 484px;
    /* background-color: #444; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.route-number {
    height: 109px;
    width: 242px;
    font-size: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
}

.agency-logo {
    width: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agency-logo-full {
    width: 484px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-bay-info {
    width: 1426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #525353;
}

.service-description {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 72px;
    margin-left: 64px;
    width: 1200px;
    line-height: 1;
    transform: translateY(-3px);
}

.bay-number {
    width: 136px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #000;
}

.bay-number-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
    transform: translateY(-4px);
}