---
layout: "east-portal-tower.liquid"
title: "Union Station"
css: east-portal-tower.css
pagination:
    data: east-portal-tower
    size: 1
    alias: screen
permalink: "/{{ screen.id }}/"
---

<div id="wrapper">
    <div id="alert-header">
        <h1>Metro Rail Alerts</h1>
    </div>
    <div id="alert-container">
    </div>
</div>